<h1>News</h1>
<div class="news-items">
    <li class="news-item">First news</li>
    <li class="news-item">Second news</li>
    <li class="news-item">Third news</li>
    <li class="news-item">Fourth news</li>
    <li class="news-item">Fifth news</li>
</div>
{{#section 'news'}}
    <h1>Hello</h1>
{{/section}}