<h1>Запрос цены для групп</h1>
<form>
    <input type="hidden" name="referrer">
    Название: <input type="text" id="fieldName" name="name"><br>
    Размер группы: <input type="text" name="groupSize"><br>
    Электронная почта: <input type="email" name="email"><br>
    <input type="submit" value="Submit">
</form>
{{#if true}}
    <script>
        $(document).ready(function(){
            $('input[name="referrer"]').val(document.referrer);
        });
    </script>
{{/if}}